<div class="post">
  <h2>Contact</h2>
  <p><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/in/samuelstiles">http://ca.linkedin.com/in/samuelstiles</a></p>
  <p><strong>Email:</strong> <a href="mailto:sam@phasesolutions.ca">sam@phasesolutions.ca</a></p>
  <p><strong>GitHub:</strong> <a href="http://github.com/latros">http://github.com/latros</a></p>
  <p><strong>Twitter:</strong> <a href="http://twitter.com/samueldev">http://twitter.com/samueldev</a></p>
</div>
