<% _.each(posts, function(post) { %>

<div class="post">
    <span class="date">Posted <abbr class="timeago" title="<%= post.createdAt %>"></abbr></span>
    <h3><a href="#"><%= post.title %></a></h3>
    <p><%- post.content.split(" ").splice(0,1).join(" ") %> <span><a href="#">... read more</a></span></p>
</div>

<% }); %>