<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog | Samuel Stiles</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="http://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png"/>
    <meta property="og:site_name" content="Samuel Stiles Blog"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="Recent Posts | Blog @ www.samstil.es"/>

    <!--STYLES-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!--STYLES END-->
    <link href="linker/css/styles.less" rel="stylesheet/less" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    
    <header>
        <div class="contact-icons">
            <a href="https://github.com/Latros"><i class="fa fa-github"></i></a>
            <a href="http://twitter.com/samueldev"><i class="fa fa-twitter"></i></a>
            <a href="http://www.linkedin.com/in/samuelstiles"><i class="fa fa-linkedin"></i></a>
            <a href="mailto:sam@phasesolutions.ca"><i class="fa fa-envelope"></i></a>
        </div>

        <div class="titles">
            <h1><span class="name">Samuel Stiles</span>
            <br>
            <span class="next-line">Full-stack developer from Canada.</h1>
        </div>
    </header>

    <nav>
        <div><a href="/">Home</a></div>
        <div><a href="/about">About</a></div>
        <div><a href="/contact">Contact</a></div>
        <div><a href="/links">Links</a></div>
        <div><a href="/category/programming">Programming</a></div>
        <div><a href="/category/climbing">Climbing</a></div>
    </nav>

    <section class="blog-list">

      <%- body %>

    </section>

    <!--SCRIPTS-->
    <script src="linker/js/socket.io.js"></script>
    <script src="linker/js/sails.io.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="linker/js/scripts.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/timeago/jquery.timeago.js"></script>
    <script src="bower_components/less/dist/less-1.6.1.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
