<% _.each(posts, function(post) { %>
<div class="post">
    <span class="date">Posted <abbr class="timeago" title="<%- post.createdAt.toISOString() %>"></abbr></span>
    <h3><a href="/read/<%= post.slug %>"><%= post.title %></a></h3>
    <%- post.content %>
    <p><a href="/"><strong>Return to home page</strong></a></p>
</div>
<% }); %>